body {
    background-color: #CCDC86 !important;
}

/* start menu */

.start-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #CCDC86;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-width {
    max-width: 1440px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.corgi-start-menu {
    height: 200px;
    margin-bottom: 20px;
}

.start-menu span {
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
}

.start-button {
    width: 100px;
}

.flower-blue-1 {
    position: absolute;
    top: 10vh;
    left: 20vw;
}

.flower-blue-2 {
    position: absolute;
    right: 20vw;
    top: 25vh;
}

.flower-blue-3 {
    position: absolute;
    right: 10vw;
    bottom: 20vh;
}

.flower-rose-1 {
    position: absolute;
    right: 25vw;
    top: 10vh;
}

.flower-rose-2 {
    position: absolute;
    left: 10vw;
    top: 15vh;
}

.flower-rose-3 {
    position: absolute;
    left: 15vw;
    bottom: 10vh;
}

/* navbar */

.impressum-privacy-policy a {
    color: black;
    text-decoration: none;
}

.impressum-privacy-policy a:hover {
    text-decoration: underline;
}

/* impressum and privacy-policy */

.back-arrow {
    margin: 20px;
}

.back-arrow a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.back-arrow a:hover {
    text-decoration: underline;
}

.impressum-container,
.datenschutz-container {
    margin: 0 20px 20px 20px;
}

.impressum-container li a {
    color: black;
}

/* container */

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 30rem;
    min-height: 670px;
}

#cardImgTopContainer {
    height: 269.25px;
}

.card-title {
    min-height: 48px;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(126, 232, 235, 0.3);
}

.bg-success,
.bg-danger {
    color: white !important;
}

/* endscreen */

/* win-screen */

.card-img-top-container-winscreen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.firework-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0 8px;
}

.firework {
    height: 100px;
}

.dog-bone-container {
    display: flex;
    align-items: flex-end;
}

.winscreen-corgi {
    height: 150px;
}

.winscreen-bone {
    height: 70px;
    margin-bottom: 10px;
}

/* text and button endscreen */

.card-body-endscreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-container-endscreen {
    padding-top: 40px;
}

.button-row {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

/* generische Klassen */

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}